<?xml version="1.0"?>
<configuration>
  <system.web.webPages.razor>
    <host factoryType="TelliRazor.EvolutionRazorHostFactory" />
    <pages pageBaseType="TelliRazor.RazorWidgetBase, TelliRazor">
      <namespaces>
        <clear />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <pages>
      <namespaces>
        <clear />
      </namespaces>
    </pages>
  </system.web>
</configuration>
