<razorWidget instanceIdentifier="Valid" name="Valid" description="TODO" cssClass="page" cacheable="false" varyCacheByUser="true" showHeaderByDefault="true">
	<requiredContext>
		<context id="578aa547a44c45d39159cab85e3002cc" />
	</requiredContext>
	<dynamicConfiguration>
		<propertyGroup id="options" resourceName="Options">
			<property id="fragmentHeader" resourceName="CF_Title" dataType="string" defaultValue="${resource:Name}" controlType="Telligent.Evolution.Controls.ContentFragmentTokenStringControl, Telligent.Evolution.Controls" />
		</propertyGroup>
	</dynamicConfiguration>
	<resources>
		<language key="en-us">
			<resource name="Name">_Test Widget</resource>
			<resource name="Description">My Super Duper Widget!!</resource>
		</language>
	</resources>
</razorWidget>
