<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="TelliRazor.EvolutionRazorHostFactory, TelliRazor"/>
    <pages pageBaseType="TelliRazor.RazorWidgetBase">
      <namespaces>
        <clear/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.WebPages.Razor"/>
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="System.Web.WebPages.Razor.RazorBuildProvider, System.Web.WebPages.Razor"/>
      </buildProviders>
    </compilation>
  </system.web>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
